<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>公司简介</title>
<style type="text/css">
.p1 {
	font-size:14px;
	font-weight:bold;  /*加粗*/
	text-align: center;
		}
.titlenext{
    width: 748px;
    height: 44px;
    background-color: #b4b4b4;
    padding-left: 22px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.col_right{
	width:770px;
    background-color: #fff;   
    height: 997px;
}
.image{
    width: 770px;
    height: 150px;
    margin-bottom: 35px;
}
/*关于华宇*/
.about{line-height:32px; padding:30px 22px;}
</style>
</head>
<body>
	<div class="col_right">
		<div class="image">
			<img src="${request.contextPath}${staticPath}/images/about_banner.jpg" alt="关于华宇">
		</div>
		<div class="titlenext">
			<h3>公司简介</h3>
		</div>
		<div class="about">
					<p>　　天地华宇隶属于上汽物流板块，也是国家第一批"AAAAA"级资质的物流企业。截止2018年10月，天地华宇在全国约500个城市拥有74个货物转运中心、2500多家营业网点、近3000台自有运营车辆、4000多条运营线路、超过36万平米的仓库。总部上海华振物流有限公司，位于上海市闵行区华翔路2239号。天地华宇的运输部分全都交由上海华振物流有限公司的兄弟公司上海华振运输有限公司全权承运。</p>
					<p>　　天地华宇致力于打造成为国内领先和最值得信赖的高效物流服务提供商，业务范围覆盖：公路快运服务、仓储/供应链服务、信息技术解决方案等。</p>
					<p>　　天地华宇为中国公路快运行业的领先企业，其运营网络是中国最大的公路快运网络之一。公司服务产品包括："定日达"、"经济快运"、“易到家”和"专车达"等，并提供代收货款等多种增值服务。"定日达"是天地华宇面向企业客户推出高端公路快运服务产品，以"准时、安全、优质服务"的特性，成为包括全球财富500强在内的众多企业级客户首选的公路快运产品之一。</p>
					<p style="text-indent:2em">天地华宇运营管理的仓库面积超过36万平米，为各大电商企业提供优质的仓储和供应链服务。</p>
					<p style="text-indent:2em">天地华宇旗下的信息技术服务企业，拥有成熟的O2O，公路快运、快递、仓储、供应链等IT系统的开发和管理能力，可为传统企业提供互联网转型的全套IT解决方案。</p>
					<p style="text-indent:2em">天地华宇通过在服务端开拓自营和特许经营共赢的新商业模式，用一站式的“易到家”服务电商客户、结合在运营端推进“运力小微化”等项目，打造轻资产的互联网综合物流平台公司，提升总体业务能力和服务水平。</p>
					<p style="text-indent:2em">天地华宇遵循"以人为本"的人才战略，不断加强员工的培训与职业规划，为全体员工提供良好的职业发展环境和广阔的发展平台，为客户提供最佳的服务体验。</p>
					<p class="p1">公司愿景</p>
					<p style="text-align: center">成为客户信赖、员工自豪的综合物流服务提供商</p><br/>
					<p class="p1">公司使命</p>
					<p style="text-align: center">全心承递</p><br/>
					<p class="p1">核心价值观</p>
					<p style="text-align: center">诚信尊重 客户至上 团结协作 变革成长</p><br/>
				</div>	
	</div>
</body>
</html>