<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>

    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="./css/base.css">
</head>

<body>
	<#include "${request.contextPath}/base/header.html">
    <div class="login_conent">
        <div class="login">
            <h1 class="loh1">用户登录</h1>
            <div class="reg_info f15">
                <div class="reg_left">
                    <p class="regp">&nbsp;→&nbsp;&nbsp;请输入您的账号信息，用于登录天地华宇系统</p>

                    <hr class="reghr" />
                    <form action="/user/register" method="post">
                    <div class="logindiv">
                        <div class="name loginnp">
                            <span>*</span><label for="">手机号：</label>
                            <input type="text" id="phone" name="phone" placeholder="请输入11位手机号码">
                        </div>
                        <div class="pwd loginnp">
                            <span>*</span><label for="">密&nbsp;&nbsp;码：</label>
                            <input type="password" id="password" name="password" placeholder="">
                        </div>
                        <div class="pwd loginnp">
                            <span>*</span><label for="">确认密码：</label>
                            <input type="password" id="cpassword" name="cpssword" placeholder="">
                        </div>
                        <div class="name loginnp">
                            <label for="">用户名：</label>
                            <input type="text" id="username " name="username" class="f14" placeholder="可作为登录账号">
                        </div>
                        <div class="name loginnp">
                            <label for="">邮箱地址：</label>
                            <input type="email" id="email" name="email" class="f14" placeholder="可作为登录账号和密码找回凭证">
                        </div>
                        <div class="pwd loginnp">
                            <span>*</span><label for="">短信验证：</label>
                            <input type="number" id="number" class="f14" placeholder="请输入验证码">&nbsp;
                            <button type="submit" class=" num regb f14">获取验证码</button>
                        </div>
                        <div class="reg_bar">
                            <label for=""><input type="checkbox" name="terms" id="terms" value="">已阅读<a
                                    href="#"><span>华宇网上营业厅服务协议</span></a></label>
                            <br />
                            <div class="reg1">
                                <button type="submit" class=" regbt regb f14">注册</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="reg_right">
                    <p class="regrp">已有账号，<a href="#">立即去登录 >></a></p>
                    <p>注册成为<b>天地华宇会员</b>，您可以享受更多的服务</p>
                    <br />
                    <div class="regul">
                        <ul>
                            <li class="regrli">账号一体化</li>
                            <li class="regrli">快捷下单</li>
                            <li class="regrli">在线理赔</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <#include "${request.contextPath}/base/foot.html">
</body>

</html>