<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link href="${request.contextPath}${staticPath}/css/base.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="${request.contextPath}/css/subpage.css">
</head>

<body>
    <div class="subpage">
        <div class="col_left">
            <div class="title"><h3>产品与服务</h3></div>
            <div class="sub"><a href="#">主营产品</a></div>
            <div class="sub"><a href="#">增值服务</a></div>
            <div class="sub"><a href="#">市场活动</a></div>

        </div>

        <div class="col_right">
            <div class="image"><img src="./images/about_banner.jpg" alt="关于华宇"></div>
            <div class="titlenext">
                <h3>公司简介</h3>
            </div>
            <div class="content">

            </div>
        </div>

    </div>

</body>

</html>