
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>foot</title>

<link rel="stylesheet" href="${request.contextPath}${staticPath}/css/base.css">
<link rel="stylesheet" href="${request.contextPath}${staticPath}/css/basecss/foot.css">
</head>

<body>
	<footer>
		<div class="foot cw">
			<div class="foot_left ">
				<div class="foot_link f14 ">
					<a href="#" class="foota cw">法律声明</a> <a href="#" class="foota cw">资料下载</a>
					<a href="#" class="foota cw">官方微博</a>
				</div>
				<div class="copyrightimge">
					<img src="${request.contextPath}${staticPath}/images/base/brand_bottom_small.jpg" alt="品牌官网"
						class="img">
				</div>
				<div class="copyright f12">
					<p>Copyright©2015 天地华宇-上海华振物流有限公司. All Rights Reserved.
						沪ICP备10220061号-2</p>
					<div class="record">
						<img src="${request.contextPath}${staticPath}/images/base/ghs.png" alt="guohui">
						<p>沪公网安备 31011202001017号</p>
					</div>
				</div>
			</div>
			<div class="foot_right f14">
				<div class="wechat frdiv">
					<img src="${request.contextPath}${staticPath}/images/base/wechat.jpg" alt="微信">
					<p class="frp">关注微信 立减10元</p>
				</div>
				<div class="app frdiv">
					<img src="${request.contextPath}${staticPath}/images/base/HOAUAPP.jpg" alt="微博">
					<p class="frp">扫描下载官方APP</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>