
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>header</title>

<link rel="stylesheet" href="${request.contextPath}${staticPath}/css/base.css"
	type="text/css">

<link rel="stylesheet"
	href="${request.contextPath}${staticPath}/css/basecss/headerbase.css"
	type="text/css">
</head>

<body>
	<!-- 头部固定 -->
	<div class="headlock">
		<!-- 头部 -->
		<div class="header dlb">
			<div class="logo block"></div>

			<div class="top dlb ">
				<div class="topboolbar f14 ">
					<ul class="topul">
						<li class="dlb"><a href="/user/tologin">登录</a></li>
						<li class="dlb"><a href="/user/toregister">注册</a></li>
					</ul>
				</div>
				<div class="topnav f14 ">
					<ul class="topul">
						<li class="dlb topli"><a href="#" class=" cclub"><span>
									进入橙色俱乐部</span></a></li>
						<li class="dlb topli"><a href="#" class="navitems "><i
								class="navitems1"></i>网上下单</a></li>
						<li class="dlb topli"><a href="#" class="navitems"><i
								class="navitems2"></i>在线客服</a></li>
						<li class="dlb topli"><a href="#" class="navitems"><i
								class="navitems3"></i>在线理赔</a></li>
						<li class="dlb topli"><a href="#" class="navitems"><i
								class="navitems4"></i>留言</a></li>
						<li class=" dlb topli">服务热线：400-808-6666</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="nav ">
			<ul class="navul f16">
				<#list navigationVms as navigationDTO> 
					<#if navigationDTO.navname=="首页">
						<li class="navli navlihome">
							<a href="${navigationDTO.url}" class="navcld navhome"> 
							<span class="navsp navs">
							${navigationDTO.navname} </span>
							</a> 
					<#else>
						<li class="navli">
							<a href="${navigationDTO.url}" class="navcld"> 
							<span class="navsp">
								${navigationDTO.navname} </span>
							</a>
					</#if> 
					<#if navigationDTO.navname!="首页"> <!-- <li class="navli navlihome">
							<a href="${navigationDTO.url}" class="navhome"> 
								<span class="navsp"></span>
							</a>
						</li> -->
					<ul class="navlist">
					<#list navigationDTO.navigationChildren as children>
						<li class="navlistli">
							<a href="${children.url}" class="navlista"> 
							<span class="navsp">${children.navname}</span> 
							<i class="navlist_menu" style="background-position: ${children.navicon}"></i>
							</a>
						</li>
					</#list>
					</ul>
				</#if>
				</li>
				</#list>
			</ul>
		</div>
	</div>

</body>

</html>